
#CartBtn {
    background-color: gray;
    color: white;
    height: 4vh;
    width: 30%;
    cursor: pointer;
}

#BuyBtn {
    background-color: rgb(0, 166, 255);
    color: white;
    height: 4vh;
    width: 30%;
    cursor: pointer;
}




