body {
    margin: 0px;
}


nav {
    height: 8vh;
    width: 100%;
    background-color: gray;
    text-align: right;
}



a {
    position: relative;
    bottom: 20%;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 550;
    font-size: 1.5em;
    margin-right: 20px;
    color: black;
}


.NavImages {
    position: relative;
    bottom: 0%;
    cursor: pointer;
}

#FilterDiv {
    position: relative;
    width: 10%;
    top: 10vh;
    background-color: rgb(196, 194, 194);
    display: none;
}


#FAQ {
    position: relative;
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.Questions {
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
}

.Questions:hover {
    background-color: rgb(227, 227, 227);
    text-decoration: underline;
}


.Answers {
    display: none;
}

#container {
    display: flex;
    justify-content: center;
}


#FirstDiv {
  border: 2px solid black;
  height: 25vh;
  width: 15%;
  margin-right: 20px;
  margin-bottom: 50px;

}

#FirstImage {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


