
/* font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif; */


#container {
    display: flex;
    justify-content: center;
}


#FirstDiv {
  border: 2px solid black;
  height: 25vh;
  width: 15%;
  margin-right: 20px;
  margin-bottom: 20px;

}

#FirstImage {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


